.nav-background {
  width: 100%;
  border-bottom: 1px solid #0f0e0e;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between items */
  list-style: none;
  padding: 20px 20px; /* Add padding if needed */
}

.nav-bar a {
  text-decoration: none;
  color: white
}

.logo-li {
  margin-right: auto; /* Pushes other items to the right */
}

.nav-bar li {
  margin: 0 10px; /* Add space between navigation items */
}

.nav-logo {
  height: 40px; /* Adjust the size as needed */
  width: auto;
}

.nav-desktop {
  display: flex;
}

.nav-contacts-desktop {
  display: flex;
  justify-content: space-between;  /* Ensures that there is space between items */
  align-items: center;  /* Aligns items vertically */
  padding-right: 40px;
}

.connect-btn a {
  padding: 20px 60px;
  background-color: white; /* Gold background for emphasis */
  color: #000; /* Text color */
  border-radius: 30px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.connect-btn a:hover {
  background-color: #f0c040; /* Lighter gold on hover */
}
